/archives/
/gnupg/

*.elc

/ghostel-*/ghostel-module.so
/ghostel-*/ghostel-module.version

/vterm-*/build/
/vterm-*/vterm-module.so

# VC packages
/easydraw
/go-mode
/jakuri
/jujutsushi
/magit
/majutsu
/michitaka
/mir
/reintegrate
/vc-jj
